<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/uikit/css/uikit.min.css" media="all">
    <link rel="stylesheet" href="/uikit/css/uikit-rtl.min.css" media="all">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.uikit.min.css" media="all">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css" media="all">
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css" media="all"> -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css" media="all"> -->

    <link rel="icon" type="image/png" href="/images/employee.jpg" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/employee.jpg" sizes="32x32"> 

    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <style>
        header {background-color: rgb(236, 240, 241);
                color: blue;}
    </style>
  
    <script src="/uikit/js/uikit.min.js"></script>
    <script src="/uikit/js/uikit-icons.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <!-- <script src="https://cdn.datatables.net/1.11.3/js/dataTables.uikit.min.js"></script>  -->
    <!-- <script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script> -->
    <!-- <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>   -->
    <!-- <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>   -->


    <title><%= pageTitle%></title>
</head>