<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/uikit/css/uikit.min.css" media="all">
    <link rel="stylesheet" href="/uikit/css/uikit-rtl.min.css" media="all">
  
    <script src="/uikit/js/uikit.min.js"></script>
    <script src="/uikit/js/uikit-icons.min.js"></script>

    <title><%= pageTitle%></title>
</head>